

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Khoảng cách giữa các ô */
    justify-content: center; /* Căn giữa các ô theo chiều ngang */
    max-width: 900px; /* Giới hạn chiều rộng tối đa của container */
    margin: auto; /* Căn giữa container trong trang */
}

/* Định dạng cho mỗi ô card */
.card {
    background-color: #d0e8f2; /* Nền xanh nhạt cho các card */
    color: #1c1d1e; /* Màu chữ đậm */
    border: none;
    border-radius: 18px;
    padding: 30px; /* Tăng padding để ô to hơn */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Căn giữa nội dung trong card */
    align-items: center; /* Căn giữa theo chiều ngang */
    width: calc(33.33% - 20px); /* Chiều rộng cho 3 ô mỗi hàng */
    height: 172px; /* Chiều cao cố định cho các ô */
    text-align: center;
    margin: 3px;
    transition: transform 0.7s; /* Thêm hiệu ứng chuyển động */
}

.card a {
    font-size: 23px;
    text-decoration: none;
    color: inherit; /* Đảm bảo màu chữ lấy từ màu chữ của card */
    font-weight: bold; /* Đậm chữ */
}

.card:hover {
    transform: translateY(-5px); /* Hiệu ứng nâng card lên khi hover */
    background-color: #a6e8f7; /* Thay đổi màu nền khi hover */
}
.card i {
    color: #0984e3; /* Màu mặc định cho biểu tượng */
}

.card i:hover {
    color: #f76f6f; /* Màu khi hover qua biểu tượng */
}
